.loading {
  display: none; /* Ocultar por defecto */
  position: fixed; /* Posicionarlo en el centro de la ventana */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrar */
  font-size: 2rem;
  color: #3498db; /* Color del texto */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

/* Estilo para un spinner */
.loading:before {
  content: '';
  border: 8px solid rgba(255, 255, 255, 0.3); /* Color de fondo */
  border-top: 8px solid #3498db; /* Color del spinner */
  border-radius: 50%;
  width: 50px; /* Tamaño del spinner */
  height: 50px; /* Tamaño del spinner */
  animation: spin 1s linear infinite; /* Animación de rotación */
  position: absolute;
  top: -10px;
  left: -10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.messages-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    margin: 20px;
  }

  #stats-container {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #2c3e50; /* Color de fondo oscuro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para efecto de elevación */
}

.level-item {
    transition: transform 0.3s, box-shadow 0.3s; /* Efecto suave en hover */
}

.level-item:hover {
    transform: translateY(-5px); /* Elevación en hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Sombra más intensa en hover */
}

.heading {
    color: #ecf0f1; /* Color claro para el encabezado */
    font-weight: bold;
    margin-bottom: 5px;
}

.title {
    color: #ffffff; /* Color blanco para el título */
    font-size: 2rem; /* Tamaño de fuente grande */
    font-weight: bold; /* Negrita */
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe al menos la altura completa del viewport */
  }

  .messages-container {
    flex-grow: 0; /* Evita que el contenedor de mensajes se extienda */
    margin-bottom: auto; /* Empuja el botón hacia el fondo */
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  #delete-group-button {
    margin: 20px auto; /* Centrar el botón */
    width: 200px; /* Establece un ancho específico para el botón */
  }

  .button-container {
    text-align: center; /* Centrar el contenido */
  }