.title {
  color: #005da4;
}

.menu-container {
  text-align: center; /* Centrar el contenedor */
  margin-top: 12%; /* Agregar un margen para centrar más el menú */
}

.menu-container .button.is-dark {
  width: 50%; /* Ajustar ancho del contenedor */
  height: 40px; /* Ajustar tamaño del contenedor */
  display: block; /* Bloquear display para que los botones aparezcan uno encima del otro*/
  margin: 10px auto; /* Centrar vertical y horizontalmente los botones */
  text-align: center; /* Alinear el texto en los botones */
  border-radius: 5px; /* Cambiar el redondeado de los botones */
}